# ===== Data =====
Dataset/
Case_level_evaluation/bubbles_masks_output/
Case_level_evaluation/lesion_output_verclean_final/
Case_level_evaluation/lesion_output_verunclean_final/
Case_level_evaluation/inference_figure_paper/
Case_level_evaluation/cancer_video_annotation/annotation_json/
Case_level_evaluation/cancer_video_annotation/annotation_json_txt/
Case_level_evaluation/cancer_video_annotation/zip_file/
# ===== Models & weights =====
SaveModel/
checkpoints/
*.pt
*.pth
*.ckpt
*.h5

# ===== Logs & outputs =====
results/
outputs/
logs/
runs/

# ===== Old / backup code =====
oldcode/

# ===== Python =====
__pycache__/
*.pyc
.ipynb_checkpoints/

# ===== IDE / OS =====
.vscode/
.idea/
.DS_Store
threshold_optimization_coverage_test/

